html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
box-sizing border-box,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
html {
  font-size: 16px;
}
gradient (origin,
start,
stop) {
  background-color: start;
  background-image: linear-gradient(origin, start, stop);
}
drop-shadow (inset,
x,
y,
blur,
spread,
alpha) {
  box-shadow: inset x y blur spread alpha;
}
@-moz-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-o-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-moz-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-o-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-moz-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-o-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url("../_fonts/icons.eot?8n1v0k");
  src: url("../_fonts/icons.eot?8n1v0k#iefix") format('embedded-opentype'), url("../_fonts/icons.ttf?8n1v0k") format('truetype'), url("../_fonts/icons.woff?8n1v0k") format('woff'), url("../_fonts/icons.svg?8n1v0k#icons") format('svg');
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
.icon-email:before {
  content: "\e900";
}
.icon-portfolio:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-resume:before {
  content: "\e903";
}
.icon-nashville:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-github:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e907";
}
.icon-arrow-back:before {
  content: "\e907";
  rotation: 180deg;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.main {
  display: table-row;
  height: 100%;
}
aside {
  display: table-cell;
  min-width: 340px;
  width: 340px;
  background-color: #ffc0cb;
}
section {
  display: table-cell;
  width: 100%;
  background-color: #008000;
}
.grid {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .grid {
    max-width: 900px;
  }
}
